<h1>Image Ranking (round <%= @round %>)</h1>
<h3><%= @remaining %> / <%= @total %></h3>
<h3><%= link_to "Tier list", images_path %></h3>

<div class="container">
  <div class="img">
    <div class="innerimg">
      <%= image_tag @img1.path %>
    </div>
    <div class="button">
      <%= button_to "Choose", { winner: @img1.id, loser: @img2.id } %>
    </div>
  </div>

  <div class="img">
    <div class="innerimg">
      <%= image_tag @img2.path %>
    </div>
    <div class="button">
      <%= button_to "Choose", { winner: @img2.id, loser: @img1.id} %>
    </div>
  </div>
</div>
